<style>
@keyframes yourfirstanimation {
    0% {opacity: 0; color: var(--blue);}
    100% {opacity: 1; color: black;}
  }

.animated-title {
animation: yourfirstanimation 3s forwards;
}

</style>

<div class="container py-4">
	<div class="row " style="justify-content: center;"> 
		<div class="col-lg-8">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
                        {{ if .Site.Params.Initials }}
                        <b class="animated-title" style="font-weight: 800;">{{ .Site.Params.Initials }}</b>
                        {{ else }}
                        <b class="animated-title" style="font-weight: 800;">{{ .Site.Params.Name }}</b>
                        {{ end }}
                    </a>
                    <div class="navbar" id="navbarNavDropdown">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            {{ range .Site.Params.Social }}
                                <li class="nav-item px-2 pt-1">
                                        <a class="footer-social px-2" {{ with .rel }} rel="{{ . }}" {{ end }} href="{{ .link }}" target="_blank"><i class="{{ .icon }}"></i></a>
                                </li>
                            {{ end }}
                            <li class="nav-item " style="margin: 0.15em;">
                                <a class="btn fas fa-moon" id="dark-mode-toggle"></a>
                            </li>
                            {{- $currentPage := . -}}
                            {{ range .Site.Menus.main -}}
                                <li class='nav-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}'>
                                    <a class="nav-link" href="{{ .URL }}"> {{ .Name }}</a>
                                </li>
                            {{ end }} 
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>