/* Custom styles go here */
@keyframes yourfirstanimation {
    0% {opacity: 0; color: red;}
    100% {opacity: 1; color: black;}
}

.animated-title {
animation: yourfirstanimation 5s forwards;
}

/* Hide on screens smaller than 768px (mobile/tablet) */
@media (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
}