{{ define "main" }}

<div class="container">
	<div class="row my-5" style="justify-content: center;"> 
		<div class="col-lg-8">
<div class="hide-on-mobile" style="display: flex; flex-direction: column; align-items: center; justify-content: center; padding-top: 5%;">
<svg class="hide-on-mobile" xmlns="http://www.w3.org/2000/svg" width="600" height="200" style="align-items: center;">
  <!-- Words -->
  <text id="words_id" x="50" y="150" font-size="24" fill="black">Bees</text>
  <text id="are_id" x="150" y="150" font-size="24" fill="black">are</text>
  <text id="the_id" x="200" y="150" font-size="24" fill="black">the</text>
  <text id="clothes_id" x="260" y="150" font-size="24" fill="black">insects</text>
  <text id="clothes_id" x="355" y="150" font-size="24" fill="black">pollen</text>
  <text id="clothes_id" x="480" y="150" font-size="24" fill="black">feeds</text>

  <!-- Curved path -->
  <path id="curve_words_are" d="M170,130 Q125,50 80,130"
        fill="none" stroke="black" stroke-width="2"
        stroke-dasharray="600"
        stroke-dashoffset="600">
    <animate attributeName="stroke-dashoffset"
             from="600" to="0"
             dur="11s" fill="freeze" />
  </path>

 

  <!-- Arrow placed manually at end of path (80,130) -->
<polygon points="2,0 -10,-5 -10,5"
         fill="black"
         opacity="0"
         transform="translate(80,130) rotate(120)">
  <animate attributeName="opacity"
           from="0" to="1"
           begin="2s" dur="0.3s"
           fill="freeze" />
</polygon>
  
  <!-- Fading label above the curve -->
  <text x="100" y="80" font-size="16" fill="black" opacity="0">nsubj
    <animate attributeName="opacity"
             from="0" to="1"
             begin="2s" dur="0.5s" fill="freeze" />
  </text>

  <!-- are clothes -->

  <!-- Curved path Q determines shape (midpoint, height) -->
  <path id="curve_are_clothes" d="M170,130 Q235,50 300,130"
        fill="none" stroke="black" stroke-width="2"
        stroke-dasharray="600"
        stroke-dashoffset="600">
    <animate attributeName="stroke-dashoffset"
             from="600" to="0"
             dur="8s" fill="freeze" />
  </path>

    <!-- Arrow placed manually at end of path (80,130) -->
<polygon points="2,0 -10,-5 -10,5"
         fill="black"
         opacity="0"
         transform="translate(300,130) rotate(55)">
  <animate attributeName="opacity"
           from="0" to="1"
           begin="2s" dur="0.3s"
           fill="freeze" />
</polygon>
  

  <!-- Fading label above the curve -->
  <text x="220" y="80" font-size="16" fill="black" opacity="0">obj
    <animate attributeName="opacity"
             from="0" to="1"
             begin="2s" dur="0.5s" fill="freeze" />
  </text>

  <!-- the clothes -->

  <!-- Curved path Q determines shape (midpoint, height) -->
  <path id="curve_the_clothes" d="M260,130 Q240,100 220,130"
        fill="none" stroke="black" stroke-width="2"
        stroke-dasharray="600"
        stroke-dashoffset="600">
    <animate attributeName="stroke-dashoffset"
             from="600" to="0"
             dur="13s" fill="freeze" />
  </path>

      <!-- Arrow placed manually at end of path (80,130) -->
<polygon points="2,0 -10,-5 -10,5"
         fill="black"
         opacity="0"
         transform="translate(220,130) rotate(120)">
  <animate attributeName="opacity"
           from="0" to="1"
           begin="2s" dur="0.3s"
           fill="freeze" />
</polygon>

  <!-- Fading label above the curve -->
  <text x="228" y="110" font-size="16" fill="black" opacity="0">det
    <animate attributeName="opacity"
             from="0" to="1"
             begin="2s" dur="0.5s" fill="freeze" />
  </text>

  <!-- are wear -->

  <!-- Curved path Q determines shape (midpoint, height) -->
  <path id="curve_are_wear" d="M500,130 Q335,-100 170,130"
        fill="none" stroke="black" stroke-width="2"
        stroke-dasharray="600"
        stroke-dashoffset="600">
    <animate attributeName="stroke-dashoffset"
             from="600" to="0"
             dur="3s" fill="freeze" />
  </path>

        <!-- Arrow placed manually at end of path (80,130) -->
<polygon points="2,0 -10,-5 -10,5"
         fill="black"
         opacity="0"
         transform="translate(170,130) rotate(120)">
  <animate attributeName="opacity"
           from="0" to="1"
           begin="2s" dur="0.3s"
           fill="freeze" />
</polygon>

  <!-- Fading label above the curve -->
  <text x="310" y="12" font-size="16" fill="black" opacity="0">acl:relcl
    <animate attributeName="opacity"
             from="0" to="1"
             begin="2s" dur="0.5s" fill="freeze" />
  </text>

    <!-- thoughts wear -->

  <!-- Curved path Q determines shape (midpoint, height) -->
  <path id="curve_thoughts_wear" d="M480,130 Q440,100 400,130"
        fill="none" stroke="black" stroke-width="2"
        stroke-dasharray="600"
        stroke-dashoffset="600">
    <animate attributeName="stroke-dashoffset"
             from="600" to="0"
             dur="7s" fill="freeze" />
  </path>

          <!-- Arrow placed manually at end of path (80,130) -->
<polygon points="2,0 -10,-5 -10,5"
         fill="black"
         opacity="0"
         transform="translate(400,130) rotate(140)">
  <animate attributeName="opacity"
           from="0" to="1"
           begin="2s" dur="0.3s"
           fill="freeze" />
</polygon>

  <!-- Fading label above the curve -->
  <text x="420" y="110" font-size="16" fill="black" opacity="0">nsubj
    <animate attributeName="opacity"
             from="0" to="1"
             begin="2s" dur="0.5s" fill="freeze" />
  </text>
</svg>
</div>
</div>
</div>
</div>

<div class="container py-4">
	<div class="row my-5" style="justify-content: center;"> 
		<div class="col-lg-8">
      <p style="font-size: large;">
        Hi! I see you've stumbled across my little web page.
        <br><br> 
        I'm a Research Associate in Natural Language Processing at the <a href="https://infai.org/">Institute for Applied Informatics</a> in Leipzig, Germany,
        as part of the <a href="https://coral-nlp.github.io/">CORAL</a> project. We're building privacy-preserving language models, developing methods of data obfuscation, as well as making models 'forget'.
        I recently released <a href="https://grew-tse.readthedocs.io/en/latest/">Grew-TSE</a>, a Python package for the generation of minimal-pair tests (using treebanks) for the evaluation of language-model syntactic performance.
        <br><br>
        I hail from Dublin, Ireland.
        I received a BSc Computer Science with Data Science from University College Dublin in 2022 and an MA Linguistics from University Leipzig in 2025, the latter thanks to a DAAD Scholarship.
        I have also worked on building machine translation models for the <a href="https://www.eucommeet.eu/">EUComMeet</a> project, tools for low-resource languages, and a <a href="https://research.uni-leipzig.de/cyclop-database/index.php">database</a> for the Institute of Linguistics.
        You can find my Master's thesis <a href="/thesis-gallagher-2025.pdf">here</a>, titled <i>"Cross-Linguistic Syntactic Evaluation of Transformers via Treebank Querying"</i>. 

        <br><br>
        Feel free to send me an email: <b>gallagher at infai dot org</b>
      </p>
    </div>
  </div>
</div>
</div>
{{ end }}
