<div class="col">
    <div class="card h-100 top-highlight">
        <div class="card-body">
            <div class="row justify-content-between">
                <div class="col-8">
                    <h5 class="card-title">{{ .Title }}</h5>
                    <p class="card-text">{{ .Summary }}</p>
                    <p class="card-date"> 
                        {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
                        {{ with .Date }}
                            {{ .Format $dateFormat }} - 
                        {{ end }}
                    </p>
                <div class="col align-self-start">
                {{ with .Params.garden_tags }}
                {{ range . }}
                <span class="badge tag-badge">{{ . }}</span>
                {{ end }}
                {{ end }}
                </div>
                </div>
            </div>
            <a href="{{ .Permalink }}" class="stretched-link"></a>
        </div>
    </div>   
</div>   